.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-slide-vert-enter-from,
.fade-slide-vert-leave-to {
  opacity: 0;
  height: 0;
  padding: 0;
}

.fade-slide-vert-enter-to,
.fade-slide-vert-leave-from {
  opacity: 1;
}

.fade-slide-vert-enter-active,
.fade-slide-vert-leave-active {
  transition: opacity 0.3s, height 0.3s, padding 0.3s;
}

.flip-list-move {
  transition: transform 0.5s;
}
