:root {
  --color-black: 51 51 51;
  --color-blue-100: 228 240 251;
  --color-blue-300: 205 227 245;
  --color-blue-500: 182 211 236;
  --color-blue-700: 157 194 224;
  --color-blue-900: 133 175 210;
  --color-red-100: 255 186 156;
  --color-red-300: 255 155 113;
  --color-red-500: 255 131 78;
  --color-red-700: 238 97 37;
  --color-red-900: 189 66 13;
  --color-green-100: 184 248 222;
  --color-green-300: 116 235 187;
  --color-green-500: 68 221 159;
  --color-green-700: 27 203 132;
  --color-green-900: 0 161 96;
  --color-orange-500: 255 181 78;
  --color-gray-100: 248 248 248;
  --color-gray-300: 201 199 199;
  --color-gray-400: 221 221 221;
  --color-gray-500: 156 156 156;
  --color-gray-900: 51 51 51;
  --color-white: 255 255 255;
}
