$color-black: #333333;

$color-blue: #4d9ad9;
$color-blue-dk: #72B1E6;
$color-blue-dk-v: #0B6AB9;
$color-blue-lt: #72B1E6;
$color-blue-lt-v: #A3CEF2;

$color-red: #ff834e;

$color-green: #44dd9f;
$color-green-dk: #22D08A;
$color-green-dk-v: #00C073;
$color-green-lt: #6BE8B6;
$color-green-lt-v: #9EF4D1;

$color-orange: #ffb54e;
$color-gray: #9D9C9C;
$color-gray-lt: #C9C7C7;
$color-gray-lt-v: #f8f8f8;
$color-white: #ffffff;
