$color-black: #333333;
$color-blue: #4d9ad9;
$color-red: #ff834e;
$color-green: #44dd9f;
$color-orange: #ffb54e;
$color-gray: #9D9C9C;
$color-gray-lt: #C9C7C7;
$color-gray-lt-v: #f8f8f8;
$color-white: #ffffff;
