:root {
  --color-black: #333;
  --color-blue: #4d9ad9;
  --color-blue-dk: #72b1e6;
  --color-blue-dk-v: #0b6ab9;
  --color-blue-lt: #72b1e6;
  --color-blue-lt-v: #a3cef2;
  --color-red: #ff834e;
  --color-green: #44dd9f;
  --color-green-dk: #22d08a;
  --color-green-dk-v: #00c073;
  --color-green-lt: #6be8b6;
  --color-green-lt-v: #9ef4d1;
  --color-orange: #ffb54e;
  --color-gray: #9d9c9c;
  --color-gray-lt: #c9c7c7;
  --color-gray-lt-v: #f8f8f8;
  --color-white: #fff;
}
