@import "color";

.flash {
  padding: .625em;
  margin: .625em 0;
  text-align: center;
  color: $color-white;
  background: $color-blue;
}

.flash.error {
  background: $color-orange;
}

.flash.success {
  background: $color-green;
}

.flash.alert {
  background: $color-red;
}
