.f {
  &-justify-content {
    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }
  }

  &-direction {
    &-column {
      flex-direction: column;
    }
  }
}
