@import "color";

header {
  font-family: "Josefin Slab", serif;
}

.header-links a {
  font-weight: normal;
  color: inherit;
}

header a:hover {
  color: inherit;
}

.header-links a:hover {
  font-weight: normal;
  color: inherit;
}

.primary-header {
  padding: 10px 20px;
  margin: 0;
}

.primary-header.row {
  justify-content: space-between;
}

.secondary-header {
  padding: 0 20px;
  margin: 0;
}

.header-links ul {
  font-size: 36px;
}

.header-links li {
  display: inline;
}

.header-links input[type="submit"] {
  color: inherit;
  background: inherit;
}

.header-links .safe,
.header-links .destroy,
.header-links .cancel {
  transition: border-bottom 0.3s ease;
  border-bottom: 5px solid transparent;
}

.header-links a:hover.safe,
.header-links a:hover.destroy,
.header-links a:hover.cancel {
  transition: border-bottom 0.3s ease 0.15s;
}

.header-links a:hover.safe {
  border-bottom-color: var(--color-green);
}

.header-links a:hover.destroy {
  border-bottom-color: var(--color-orange);
}

.header-links a:hover.cancel {
  border-bottom-color: var(--color-blue);
}

.header-links form {
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .primary-header.row {
    flex-flow: column;
  }
}
