@import "mixins";

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
}

.cell {
  display: flex;
  flex-shrink: 1;

  @include eachClass(flex-grow, "&.grow", 1, 6);
}

@media (max-width: 480px) {
  .row {
    flex-flow: column;
  }
}
