.row {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
}

.row.vert {
  flex-direction: column;
}

.col {
  display: flex;
  flex-shrink: 1;
  padding: 5px;
}

.col.grow-1 {
  flex-grow: 1;
}

.col.grow-2 {
  flex-grow: 2;
}

.col.grow-3 {
  flex-grow: 3;
}

.col.grow-4 {
  flex-grow: 4;
}

.col.grow-5 {
  flex-grow: 5;
}

.col.grow-6 {
  flex-grow: 6;
}

.col > * {
  display: flex;
  margin: 0;
}

@media (max-width: 480px) {
  .row {
    flex-flow: column;
  }
}
